@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@media screen and (max-width: 667px) {
  /*-------------------------------index.html--------------------------------*/
  .steps__title {
    margin-right: 45%;
  }

  .steps__card {
    display: flex;
    justify-content: space-between;
    width: 85%;
  }

  .steps__card__text {
    font-size: 13px;
  }
  #restaurants__title {
    margin-right: 100%;
  }
  .container_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .restaurants__card:hover {
    background-color: #f2eafb;
  }

  .container__card {
    width: 95%;
  }

  .restaurants__card__icon {
    font-size: 24px;
  }

  .footer__title {
    padding-right: 100%;
  }

  ul {
    display: contents;
  }

  li a {
    font-size: 14px;
    font-weight: normal;
  }

  li a:hover {
    color: #fff;
  }
  /*------------------------------- end index.html--------------------------------*/
  /*------------------------------- resto--------------------------------*/

  .pa_main__container {
    display: flex;
    justify-content: space-between;
    margin-left: 0%;
  }
  .container__menu {
    width: 100%;
    margin-left: 0%;
  }
  .menu__name {
    text-align: left;
  }

  .menu__name ::after {
    display: block;
  }

  .heart .fa-solid {
    font-size: 25px;
    position: absolute;
    opacity: 0;
    transition-duration: 0.4s;
  }

  .pa_img {
    max-height: 250px;
  }
  /*------------------------------- end resto--------------------------------*/
}
