@media screen and (max-width: 920px) {
  /*-------------------------------index.html--------------------------------*/
  .container_filtre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* parti fontionnment */

  .steps__title {
    text-align: center;
  }

  .steps__card {
    width: 45%;
    justify-content: space-between;
  }

  .steps__card__text {
    font-size: 17px;
  }

  /* End parti fontionnment */

  /* barre verte parti restaurant */

  .barre {
    display: block;
  }

  /* End barre verte parti restaurant */

  /* footer titre & liste de puce */
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
  }

  li a {
    font-size: 16px;
    font-weight: normal;
  }

  li a:hover {
    color: #fff;
  }

  /* End footer titre & liste de puce */

  /*-------------------------------end index.html--------------------------------*/

  /*-------------------------------resto--------------------------------*/

  /* titre & coeur */

  .pa_main__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fa-heart {
    font-size: 25px;
  }

  /* End titre & coeur */

  /* Entrée / Plats / Desserts */

  .menu__name {
    text-align: center;
  }

  /* barre Entrée Plats Desserts */

  .menu__name ::after {
    display: none;
  }
  /* End barre Entrée / Plats / Desserts */

  /* second coeur */

  .heart .fa-solid {
    font-size: 25px;
    position: absolute;
    opacity: 0;
    transition-duration: 0.4s;
  }

  /* End second coeur */

  /*-------------------------------end resto--------------------------------*/
}
