@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@media screen and (max-width: 920px) {
  /*-------------------------------index.html--------------------------------*/
  .container_filtre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .steps__title {
    text-align: center;
  }

  .steps__card {
    width: 45%;
    justify-content: space-between;
  }

  .steps__card__text {
    font-size: 17px;
  }

  .restaurants__card {
    margin-top: 0px;
    opacity: 1;
    filter: grayscale(0%);
  }
  .restaurants__card:hover {
    opacity: 1;
    filter: grayscale(0%);
  }

  .barre {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
  }

  li a {
    font-size: 16px;
    font-weight: normal;
  }

  li a:hover {
    color: none;
  }

  /*-------------------------------end index.html--------------------------------*/

  /*-------------------------------resto--------------------------------*/

  .pa_main__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .fa-heart {
    font-size: 25px;
  }
  .menu__name {
    text-align: center;
  }

  .menu__name ::after {
    display: none;
  }

  .heart .fa-solid {
    font-size: 25px;
    position: absolute;
    opacity: 0;
    transition-duration: 0.4s;
  }

  /*-------------------------------end resto--------------------------------*/
}
